@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root {
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue-hover: hsl(237, 14%, 26%);
    --white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
body {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    font-size: 18px;
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 50vw;
    margin: 0 auto;
    border: none;
    height: 100vh;
    width: 100%;
    background: transparent;
    box-shadow: 0.2rem 0.3rem rgba(175, 12, 225, 0.41);
}
.header h1 {
    font-weight: 700;
    color: var(--Light-Grayish-Blue);
    letter-spacing: 1rem;
}
.add-tasks {
    background: transparent;
    border: none;
}
.add-tasks input {
    width: 100%;
    max-width: 50vw;
    height: 7vh;
    margin-bottom: 2rem;
    background-color: var(--Very-Dark-Grayish-Blue);  
}
.add-tasks input::placeholder {
    color: var(--Light-Grayish-Blue);
}
.add-tasks button {
    background-color: rgb(123, 74, 149);
    border-radius: 25%;
    border: none;
    height: 4rem;
    width: 5rem;
    color: white;
}
.add-tasks button:hover {
    background-color:  rgba(123, 74, 149, 0.463);
}
.coloumn {
    border: none;
    width: 100%;
    height: 7vh;
    background-color: var(--Very-Dark-Grayish-Blue);
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--Light-Grayish-Blue);
    border-radius: 10px;
}
.coloumn p {
    font-weight: 400;
}
.control .btn1 {
    background-color: green;
    border-radius: 25%;
    border: none;
    height: 2rem;
    width: 2rem;
}
.control .btn1:hover {
    background-color: rgba(0, 128, 0, 0.418);
}
.control .btn2 {
    background-color: red;
    border-radius: 25%;
    opacity: 1;
    border: none;
    height: 2rem;
    width: 2rem;
}
.control .btn2:hover {
    background-color: rgba(255, 0, 0, 0.501);
}
footer {
    margin-top: 5rem;
    text-align: center;
    color: white;
}
@media (max-width:1920px) {
    body {
        max-width: 1920px;
    }
}
@media screen and (max-width:500px) {
    body {
        max-width: 500px;
        background-image: url(./images/bg-mobile-dark.jpg);
    }
    .add-tasks input {
        height: 5vh;
        width: 100%;
        margin-left: 10%;
        margin-bottom: 1rem;
    }   
    .add-tasks .mobile {
        text-align: center;
    } 
    .add-tasks button {
        height: 3rem;
        width: 5rem;
        margin-bottom: 1rem;
    }
    .coloumn {
        height: 6vh;
    }
}
@media screen and (max-width:375px) {
    .add-tasks input {
        margin-left: 18%;
    }
}